services:
  backend:
    image: sauryadev/devops-backend
    container_name: backend
    restart: always
    ports:
      - "5000:5000"

  frontend:
    image: sauryadev/devops-frontend
    container_name: frontend
    restart: always
    depends_on:
      - backend

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
